.btn {
    color: var(--clr-white);
    font-weight: 400;
    font-size: 1rem;
    background-color: transparent;
    padding: .5rem 1rem;
    border: solid 2px var(--clr-black);
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .4rem .4rem .8rem #0c0c0c,
      -.4rem -.4rem .8rem var(--clr-black);
  }

.btn:active {
    box-shadow: inset .2rem .2rem 1rem var(--clr-black),
      inset -.2rem -.2rem 1rem #0a0a0a;
  }