.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 4rem;
  background-color: #ffffff50;
  border-radius: 15px;
  border: #ffffff50 solid 2px;
  box-shadow: 0.5em 0.5rem 1rem #ccc;
  padding: 1.5rem 3rem;
}

.container {
  width: 50%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  border-radius: 15px;
  border: #ffffff50 solid 2px;
  box-shadow: 0.5em 0.5rem 1rem #ccc;
  padding: 4rem;
}

.checkoutTitulo {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  gap: 1.5rem;
}

.checkoutForm input {
  width: 25rem;
  padding: 0.8rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid #bbb;
  background-color: var(--clr-white);
  box-shadow: 0.2rem 0.2rem 0.4rem #e7e7e7;
}

.checkoutForm input:hover {
  box-shadow: inset 0.3rem 0.3rem 1rem #f1f1f1;
}

.pagar {
  width: 10rem;
  height: 3rem;
  color: var(--clr-white);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--clr-black);
  border: solid 2px var(--clr-black);
  cursor: pointer;
  transition: all 1s ease;
  border: #ffffff50 solid 2px;
  box-shadow: 0.3em 0.3rem 1rem #ddd;
}

.pagar:hover {
  transition: 0.5s;
  box-shadow: inset 0.2rem 0.2rem 1rem #242424,
    inset -0.2rem -0.2rem 1rem #2b2b2b;
  color: #ccc;
}

.pagar:active {
  box-shadow: inset 0.2rem 0.2rem 1rem #3a3a3a,
    inset -0.2rem -0.2rem 1rem #333333;
}
