.container {
  font-size: 1.7rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  margin: 4rem;
  padding: 3rem 3rem 3rem 0rem;
  background-color: var(--clr-white);
  border-radius: 15px;
  border: #ffffff50 solid 2px;
  box-shadow: 0.5em 0.5rem 1rem #ccc;
}

.container img {
  width: 35%;
  border-right: solid 2px var(--clr-thistle);
}
