.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 2rem;
    background-color: #ffffff50;
    width: 100%;
    border-radius: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: #daa8cd solid 2px;
    box-shadow: .5rem .5rem .9rem #be78ad;
  }

  .card {
    display: flex;
    width: 22rem;
    height: 11rem;
    background-color: var(--clr-white);
    color: var(--clr-black);
    border-radius: 15px;
    padding: 1rem;
    border: #ffffff50 solid 2px;
    box-shadow: .3rem .3rem .5rem #7a7a7a;
}
.card:hover {
    transition: .4s;
    box-shadow: .4rem .5rem .4rem #929292;
    transform: scale(1.03);
}

.productoInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid var(--clr-thistle);
    padding-left: .5rem;
}

.productoInfo h3 {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: .95rem;
}

.productoInfo .price {
    width: 5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #18181815;
}

.productoInfo .btnCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8rem;
    color: var(--clr-white);
    font-weight: 500;
    font-size: .8rem;
    text-transform: uppercase;
    background-color: var(--clr-black);
    border: solid 2px var(--clr-black);
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .4rem .4rem .8rem var(--clr-thistle),
      -.4rem -.4rem .8rem var(--clr-white);
}

.productoInfo .btnCard:active {
    box-shadow: inset .2rem .2rem 1rem #242424,
      inset -.2rem -.2rem 1rem #3d3d3d;
    border: solid 2px #3d3d3d;
}