.container {
  width: 26rem;
  background-color: #ffffff50;
  border-radius: 15px;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: #ffffff50 solid 2px;
  box-shadow: 0.5rem 0.5rem 0.8rem #cacaca;
}
.container h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.productos {
  min-height: 5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-white);
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0.6rem;
  border: #ffffff50 solid 2px;
  box-shadow: 0.5em 0.5rem 1rem #ccc;
}

.productos:hover {
  transition: all 0.6s ease;
  box-shadow: inset 0.2rem 0.2rem 0.4rem #f1f1f1,
    inset 0.2rem 0.2rem 1rem #ecebeb;
  transform: scale(1.02);
}

.productos .titulo {
  font-size: 0.9rem;
  font-weight: bold;
}

.productos img {
  width: 3rem;
}

.productos .eliminar:hover {
  color: rgb(235, 27, 27);
  cursor: pointer;
  transition: 0.2s;
}

.textAgregarProducto {
  display: flex;
  justify-content: center;
  align-items: center;
}
