.container {
    height: 6rem;
    background-color: var(--clr-black);
    color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 3.5rem;
  }
  
  .container > .logo img {
    width: 5.5rem;
    height: 5rem;
    cursor: pointer;
  }

  .logo {
    display: flex;
    flex-direction: column;

  }

  .logo > .logoTitulo {
    color: var(--clr-white);
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: relative;
    top: -1.1rem;
    cursor: pointer;
  }
  
  .sections {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .btn {
    color: var(--clr-white);
    font-weight: 400;
    font-size: 1rem;
    background-color: transparent;
    padding: .5rem 1rem;
    border: solid 2px var(--clr-black);
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .4rem .4rem .8rem #0c0c0c,
      -.4rem -.4rem .8rem var(--clr-black);
  }

  .btn:active {
      box-shadow: inset .2rem .2rem 1rem var(--clr-black),
        inset -.2rem -.2rem 1rem #0a0a0a;
    }

  .sections .btn:hover {
    color: rgb(187, 187, 187);
    transition: .6s;
  }

  .cart {
    display: flex;
    align-items: center;
  }

  .arrowDown {
    position: relative;
    top: 3.5px;
  }
