.container {
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem;
    background-color: #ffffff50;
    border-radius: 20px;
    padding: 2rem 2rem;
    border: #daa8cd solid 2px;
    box-shadow: .5rem .5rem .9rem #be78ad;
  }