.container {
  display: flex;
  flex-direction: column;
  margin: 2rem 3rem;
  background-color: #ffffff50;
  border-radius: 20px;
  padding: 2rem 2rem;
  border: #ffffff50 solid 2px;
  box-shadow: 0.5rem 0.5rem 1rem #cacaca;
}
